<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Backend Info</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Backend Info</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Variabel</th>
            <th>Nilai</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${info}">
            <td th:text="${c.key}">Customer 001</td>
            <td th:text="${c.value}">c001@yopmail.com</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>